 @model TLBD.Areas.admin.Models.AlbumDetail.AlbumDetail_Model

@{
    ViewBag.Title = "Cập nhật chi tiết Album";
    Layout = "~/Areas/admin/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/Content/Admin_Style.css" rel="stylesheet" />

<script type="text/javascript">
    $(function () {
        $("#form").submit(function (e) {
            //var run = true;
            //run = kiemtra("Tennhombaiviet", "sTEN_NHOM_BAIVIET", run);

            //if (!run) {
            //    e.preventDefault();

            //}
        });

        var url = '@Url.Action("CapNhat", "Admin_AlbumDetail")/@(Model==null ? "0" : Model.sID.ToString())';
        $("#form").attr("action", url);
    });

    function kiemtra(label, control, run) {
        var gt = $("#" + control).val();
        if (gt.length == 0) {
            $("#" + label).css("color", "#ff0000");
            alert("Chưa nhập đủ thông tin " + label);
            run = false;
        }
        else $("#" + label).css("color", "#000");
        return run;
    }

</script>

<script type="text/javascript">
    function Quaylai() {
        window.history.back(-1);
    }      
</script>



@using (Html.BeginForm("CapNhat", "Admin_AlbumDetail", FormMethod.Post, new { id = "form", enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true, "Thay đổi không thành công. Vui lòng cập nhật lại thông tin.")
    <div>
        <fieldset>
            <legend>Thông tin chi tiết Album</legend>
            <table style="width:100%">
                <tr>
                    <td style="width:10%"></td>
                    <td style="width:200px" id ="">
                        Hình ảnh   
                    </td>
                    <td class="hinh">
                        <input type="file" name="ImageUrl" id="ImageUrl" />
                        @if (Model != null)
                        {
                            <img src="@Url.Content("~/content/Album/")@Model.sIMAGE_URL">
                        }
                    </td>
                    <td style="width:10%"></td>
                </tr>               
                
                <tr>
                    <td style="width:10%"></td>
                    <td>
                        Album
                    </td>
                    <td>
                        @Html.DropDownList("sID_ALBUM", (IEnumerable<SelectListItem>)ViewData["ALBUM"], new { style = "width:250px" })
                    </td>         
                    <td style="width:10%"></td>          
                </tr>   

                <tr>
                    <td style="width: 10%"></td>
                    <td>
                        Đại diện
                    </td>
                    <td>
                        @Html.CheckBoxFor(m => m.sDAI_DIEN, new { })
                    </td>
                    <td style="width: 10%"></td>
                </tr>                            
                                
                <tr>
                    <td style="width:10%"></td>
                    <td>
                        <input class="button_capnhat" type="submit" style="width:130px" value="Cập nhật" />                        
                    </td>
                    <td>
                        <input class="button_quaylai" type="button" onclick="Quaylai()" style="width:130px" value="Quay lại" />
                    </td>     
                    <td style="width:10%"></td>              
                </tr>                              
            </table>
        </fieldset>
    </div>
}
