<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/themes/start/jquery-ui-1.8.20.custom.css")" rel="stylesheet" type="text/css" />

    <link href="~/Content/Admin_Style.css" rel="stylesheet" />
    <link href="~/kendo/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="~/kendo/styles/kendo.blueopal.min.css" rel="stylesheet" />
    <script src="~/kendo/js/jquery.min.js"></script>
    <script src="~/kendo/js/kendo.core.min.js"></script>
    <script src="~/kendo/js/kendo.web.min.js"></script>
    <script src="~/kendo/js/kendo.aspnetmvc.min.js"></script>
    <script src="~/kendo/js/cultures/kendo.culture.vi-VN.min.js"></script>
</head>


<body>    
    <div class="head" style="height:40px; padding-top:5px;vertical-align:top;">   
        @Html.Action("Chao_DangNhap", "Admin_PhanQuyen")    
    </div>         
    
     @Html.Action("List_Menu_PhanQuyen", "Admin_PhanQuyen") 
   
    <div style="overflow:hidden; width:100%;">
        @RenderBody()
    </div>     
</body>
</html>
