@model TLBD.Areas.admin.Models.DanhMuc_BieuQuyet.DanhMuc_BieuQuyet_Model

@{
    ViewBag.Title = "Cập nhật danh mục biểu quyết";
    Layout = "~/Areas/admin/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/Content/Admin_Style.css" rel="stylesheet" />

<script type="text/javascript">
    $(function () {
        $("#form").submit(function (e) {
            var run = true;
            run = kiemtra("tieude", "sTEN_BIEUQUYET", run);

            if (!run) {
                e.preventDefault();

            }
        });

        var url = '@Url.Action("CapNhat", "Admin_DanhMuc_BieuQuyet")/@(Model==null ? "0" : Model.sID.ToString())';
        $("#form").attr("action", url);
    });

    function kiemtra(label, control, run) {
        var gt = $("#" + control).val();
        if (gt.length == 0) {
            $("#" + label).css("color", "#ff0000");
            alert("Chưa nhập đủ thông tin!");
            run = false;
        }
        else $("#" + label).css("color", "#000");
        return run;
    }

</script>

<script type="text/javascript">
    function Quaylai() {
        window.history.back(-1);
    }       

</script>

@using (Html.BeginForm("Edit", "Admin_DanhMuc_BieuQuyet", FormMethod.Post, new { id = "form" }))
{
    @Html.ValidationSummary(true, "Thay đổi không thành công. Vui lòng cập nhật lại thông tin.")
    <div>
        <fieldset>
            <legend>Thông tin thăm dò ý kiến</legend>
            <table style="width:100%">
                <tr>
                    <td style="width:10%"></td>
                    <td style="width:100px" id="tieude">
                        Tiêu đề    
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.sTEN_BIEUQUYET, new { style ="width:100%" })
                        @Html.ValidationMessageFor(m => m.sTEN_BIEUQUYET)
                    </td>
                    <td style="width:10%"></td>
                </tr>  
                
                <tr>
                    <td style="width:10%"></td>
                    <td>
                        Hiển thị
                    </td>
                    <td>
                        @Html.CheckBoxFor(m => m.sHIEN_THI, new {})                        
                    </td>         
                    <td style="width:10%"></td>          
                </tr>              
                
                <tr>
                    <td style="width:10%"></td>
                    <td>
                        Ghi chú    
                    </td>
                    <td>
                        @Html.TextAreaFor(m => m.sGHI_CHU, new { style ="width:100%; height:50px" })
                    </td>         
                    <td style="width:10%"></td>          
                </tr>         
                
                <tr>
                    <td style="width:10%"></td>
                    <td>
                        <input class="button_capnhat" type="submit" style="width:130px" value="Cập nhật" />                        
                    </td>
                    <td>
                        <input class="button_quaylai" type="button" onclick="Quaylai()" style="width:130px" value="Quay lại" />
                    </td>     
                    <td style="width:10%"></td>              
                </tr>                 
            </table>
        </fieldset>
    </div>
}
